
<div class="container-fluid bg-dark g-0">
	<div class="row g-0 align-items-center">
		<div class="col-lg-6 d-flex justify-content-center">
			<div class="col-12 col-lg-8 p-4 text-white">
				<div class="lc-block">
					<div editable="rich">
						<h2 class="fw-bolder">Horarios</h2>
					</div>
				</div>
				<div class="lc-block">
					<div editable="rich">
						<p>Lunes a viernes de7:00 a 20:00</p>
					</div>
				</div>

				<div class="lc-block">
					<div editable="rich">
						<h2 class="fw-bolder">Whatsapp</h2>
					</div>
				</div>

				<div class="lc-block">
					<div editable="rich">
						<p>+5266447659383</p>
					</div>
				</div>

			</div>
		</div>
		<div class="col-lg-6">
			<div class="lc-block">
				<div class="ratio ratio-16x9" lc-helper="gmap-embed">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.63496055521!2d-103.34668119999999!3d20.6844251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1e8a08c79fb%3A0xa8bfa648b3c3a0f6!2sUniversidad%20de%20Guadalajara%20-%20Sistema%20de%20Educacion%20Media%20Superior!5e0!3m2!1ses-419!2smx!4v1664408150862!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>				</div>
			</div><!-- /lc-block -->
		</div>
	</div>
</div>


<div class="container py-5">
	<div class="row min-vh-50 align-items-center justify-content-center">
		<div class="col-lg-9 col-xl-8 text-center bg-dark text-white p-5">
			<div class="lc-block mb-4">
				<div editable="rich">
					<h2 class="display-3 fw-bolder">Contáctanos</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do<br>&nbsp;eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>

				</div>
			</div><!-- /lc-block -->
			<form>
				<div class="form-row">
				  <div class="col-md-4 mb-3">
					<label for="validationServer01">Nombre</label>
					<input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
					<div class="valid-feedback">
					  Correcto
					</div>
				  </div>
				  <div class="col-md-4 mb-3">
					<label for="validationServer02">Apellidos.</label>
					<input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
					<div class="valid-feedback">
					  Looks good!
					</div>
				  </div>
				  <div class="col-md-4 mb-3">
					<label for="validationServerUsername">Usuario</label>
					<div class="input-group">
					  <div class="input-group-prepend">
						<span class="input-group-text" id="inputGroupPrepend3">@</span>
					  </div>
					  <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
					  <div class="invalid-feedback">
						Elige un usuario
					  </div>
					</div>
				  </div>
				</div>
				<div class="form-row">
				  <div class="col-md-6 mb-3">
					<label for="validationServer03">Ciudad</label>
					<input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
					<div class="invalid-feedback">
					  Revisa la ciudad
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<label for="validationServer04">Estado</label>
					<input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
					<div class="invalid-feedback">
					  Revisa el estado
					</div>
				  </div>
				  <div class="col-md-3 mb-3">
					<label for="validationServer05">C.P.</label>
					<input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
					<div class="invalid-feedback">
					  Please provide a valid zip.
					</div>
				  </div>
				</div>
				<div class="form-group">
				  <div class="form-check">
					<input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
					<label class="form-check-label" for="invalidCheck3">
					  Terminos y condiciones
					</label>
					<div class="invalid-feedback">
					  Debes estar de acuerdo antes de enviar.
					</div>
				  </div>
				</div>
				<button class="btn btn-primary" type="submit">Enviar</button>
			  </form>
		</div><!-- /col -->
	</div>
</div>