
<div class="container py-5 timeline position-relative">
	<div class="timeline-item w-100 mb-4 py-4 text-dark lc-block">
		<div class="timeline-img"></div>
		<div class="timeline-content">
			<p editable="inline" class="lead">Gandhi Herneandez</p>
			<h2 editable="inline" class="fw-bold rfs-12">Cómo aprender alemán</h2>
			<div editable="rich">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam diam metus, lobortis non augue at, placerat viverra risus.</p>
			</div>
		</div>
	</div>
	<div class="timeline-item w-100 mb-4 py-4 text-dark lc-block">
		<div class="timeline-img"></div>
		<div class="timeline-content">
			<p editable="inline" class="lead">Daniel Morales</p>
			<h2 editable="inline" class="fw-bold rfs-12">Lugares imperdibles de Berlín</h2>
			<div editable="rich">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam diam metus, lobortis non augue at, placerat viverra risus.</p>
			</div>
		</div>
	</div>
	<div class="timeline-item w-100 mb-4 py-4 text-dark lc-block">
		<div class="timeline-img"></div>
		<div class="timeline-content">
			<p editable="inline" class="lead">Ana Seidel</p>
			<h2 editable="inline" class="fw-bold rfs-12">Oktoberfest</h2>
			<div editable="rich">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam diam metus, lobortis non augue at, placerat viverra risus.</p>
			</div>
		</div>
	</div>
	<div class="timeline-item w-100 mb-4 py-4 text-dark lc-block">
		<div class="timeline-img"></div>
		<div class="timeline-content">
			<p editable="inline" class="lead">Taro M.</p>
			<h2 editable="inline" class="fw-bold rfs-12">Caso Akkusativ</h2>
			<div editable="rich">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est. Etiam diam metus, lobortis non augue at, placerat viverra risus.</p>
			</div>
		</div>
	</div>
</div>
